<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate | Payment Gateway</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        body {
            background: linear-gradient(to right, rgba(235, 224, 232, 1) 52%, rgba(254, 191, 1, 1) 53%, rgba(254, 191, 1, 1) 100%);
            font-family: 'Roboto', sans-serif
        }

        .card {
            border: none;
            max-width: 450px;
            border-radius: 15px;
            margin: 150px 0 150px;
            padding: 35px;
            padding-bottom: 20px !important
        }

        .heading {
            color: #C1C1C1;
            font-size: 14px;
            font-weight: 500
        }

        img {
            transform: translate(160px, -10px)
        }

        img:hover {
            cursor: pointer
        }

        .text-warning {
            font-size: 12px;
            font-weight: 500;
            color: #edb537 !important
        }

        #cno {
            transform: translateY(-10px)
        }

        input {
            border-bottom: 1.5px solid #E8E5D2 !important;
            font-weight: bold;
            border-radius: 0;
            border: 0
        }

        .form-group input:focus {
            border: 0;
            outline: 0
        }

        .col-sm-5 {
            padding-left: 90px
        }

        .btn {
            background: #F3A002 !important;
            border: none;
            border-radius: 30px
        }

        .btn:focus {
            box-shadow: none
        }
    </style>

</head>

<body>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12">
                <div class="card mx-auto">
                    <p class="heading mb-1">SAFENEST PAYMENT</p>
                    <small class="text-muted mt-1"><a href="javascript: void(0);" id="toggle-card">Card</a> / <a href="javascript: void(0);" id="toggle-netbanking">Net Banking</a> / <a
                            href="javascript: void(0);" id="toggle-upi">UPI</a></small>
                    <br>
                    <div id="card" class="">
                        <form class="card-details" action="/donate" method="POST">
                            {% csrf_token %}
                            <div class="" id="cardSubForm">
                                <div class="form-group">
                                    <p class="text-warning mb-0">Donation Amount</p> <input type="text" name="amount"
                                        placeholder="Amount" size="17" required>
                                </div>
                                <div class="form-group mb-0">
                                    <p class="text-warning mb-0">Card Number</p> <input type="text" name="card-num" required
                                        placeholder="1234 5678 9012 3456" size="17" id="cno" minlength="16" maxlength="16">
                                    <img src="https://img.icons8.com/color/48/000000/visa.png" width="64px" height="60px" />
                                </div>
                                <div class="form-group">
                                    <p class="text-warning mb-0">Cardholder's Name</p> <input type="text" name="name" required
                                        placeholder="Name" size="17">
                                </div>
                                <div class="form-group pt-2">
                                    <div class="row d-flex">
                                        <div class="col-sm-3">
                                            <p class="text-warning mb-0">Expiration</p> <input type="text" name="exp" required
                                                placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7">
                                        </div>
                                        <div class="col-sm-3">
                                            <p class="text-warning mb-0">Cvv</p> <input type="password" name="cvv" required
                                                placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3">
                                        </div>
                                        <div class="col-sm-5 pt-0"> <div id="cardSubmit"
                                                class="btn btn-primary">PAY</div> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none" id="cardSubForm2">
                                <h6>Enter OTP</h6>
                                <input type="password" name="otp" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                                <small>Please enter the 6 digit otp!</small>
                                <div class="form-group pt-2">
                                    <div class="col-sm-5 pt-0"> <button type="submit" class="btn btn-primary">PAY</button>
                                    </div>
                                
                            </div>
                        </form>
                    </div>
                    <div id="netbanking" class="d-none">
                        <form class="card-details" action="/donate" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <p class="text-warning mb-0">Donation Amount</p> <input type="text" name="amount" required
                                    placeholder="Amount" size="17">
                            </div>
                            <div class="form-group mb-0">
                                <p class="text-warning mb-0">Bank Name</p> <input type="text" name="bank-name" required
                                    placeholder="Name of the bank" size="17" id="bankname" minlength="16" maxlength="16"> <img
                                    src="https://img.icons8.com/color/48/000000/visa.png" width="64px" height="60px" />
                            </div>
                            <div class="form-group">
                                <p class="text-warning mb-0">NEFT/RTGS Txn ID</p> <input type="text" name="txid" required
                                    placeholder="Txn ID" size="17">
                            </div>
                            <div class="form-group pt-2">
                                <div class="col-sm-5 pt-0"> <button type="submit" class="btn btn-primary">PAY</button>
                                </div>
                        </form>
                    </div>
                </div>
                <div id="upi" class="d-none">
                    <form class="card-details" action="/donate" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <p class="text-warning mb-0">Donation Amount</p> <input type="text" name="amount" required
                                placeholder="Amount" size="17">
                        </div>
                        <div class="form-group mb-0">
                            <p class="text-warning mb-0">VPA</p> <input type="text" name="card-num" required
                                placeholder="<username>@oksbi" size="17" id="vpa" minlength="16" maxlength="16">
                            <img src="https://img.icons8.com/color/48/000000/visa.png" width="64px" height="60px" />
                        </div>
                        <div class="form-group pt-2">
                            <div class="row d-flex">
                                <div class="col-sm-5 pt-0"> <button type="submit" class="btn btn-primary">PAY</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#toggle-card").click(function(){
            $("#card").removeClass('d-none')
            $("#netbanking").addClass('d-none')
            $("#upi").addClass('d-none')
        })
        $("#toggle-netbanking").click(function(){
            $("#card").addClass('d-none')
            $("#netbanking").removeClass('d-none')
            $("#upi").addClass('d-none')
        })
        $("#toggle-upi").click(function(){
            $("#card").addClass('d-none')
            $("#netbanking").addClass('d-none')
            $("#upi").removeClass('d-none')
        })
        $("#cardSubmit").click(function(){
            $("#cardSubForm").addClass('d-none')
            $("#cardSubForm2").removeClass('d-none')
        })
    </script>
</body>

</html>