{% extends "base.html" %}
{% block content %}
  <div class="container mt-5 p-3">
      <div class="row m-0">
        <div class="col-8 border-right">
          <br>
          <h4>Available for volunteering!</h4>
          <hr>
          {% for activity in activities %}
            <div class="card mb-3">
              <div class="card-header">
                <b>Report - #{{forloop.counter}}</b>
              </div>
              <small class="card-body">
                Reported by  - {{activity.reporter}} <br>
                Animal - {{activity.pet}} <br>
                Breed - {{activity.breed}} <br>
                Condition - {{activity.condition}} <br>
                location - {{activity.location}} <br>
                Reported at - {{activity.timeStamp}}
              </small>
              <div class="card-footer text-right">
                {% if activity.images %}
                <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#galleryView{{forloop.counter}}">
                  View Images
                </button>
                  
                {% endif %}
                {% if activity.status %}
                  Closed
                  {% else %}
                  {% if not activity.volunteer %}
                  {% if request.user.is_authenticated %}
                  <a href="/volunteer/self/{{activity.id}}" class="btn btn-warning">Volunteer</a>
                  {% else %}                         
                  <small class="x-small">Login Required to Volunteer</small>
                  {% endif %}
                  {% else %}
                  <small>This activity is being monitored by 
                    <a href="">{{activity.volunteer}}</a> from {{activity.actionStamp|date:"h.i A, dS M, Y"}} </small>
                  {% endif %}
                {% endif %}
              </div>
            </div>
            <div class="modal fade" id="galleryView{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="galleryView{{forloop.counter}}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      {% for image in images %}
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="{{image}}" alt="First slide">
                      </div>                    
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="col-4">
          <br>
          <div>
            <h4>New Report</h4>
            <hr>
            <form action="/volunteer/activity/new" method="POST" class="bg-warning p-3 p-md-4">
              {% csrf_token %}
              <input type="text" class="form-control mb-3" name="pet" placeholder="Pet Type">
              <input type="text" class="form-control mb-3" name="breed" placeholder="Breed">
              <textarea type="text" class="form-control mb-3" name="location" placeholder="Location"></textarea>
              <textarea type="text" class="form-control mb-3" name="condition" placeholder="Condition"></textarea>
              <button type="submit" class="btn btn-dark">Submit</button>
            </form>
          </div>
          <hr>
          <div>
            <h3>Register a Complaint</h3>
            <hr>
            <form action="/complaint/new" method="POST" class="bg-warning p-3 p-md-4">
              {% csrf_token %}
              <input type="text" class="form-control mb-3" name="name" placeholder="Your Name"
              {% if request.user.username %}
                value="{{request.user.username}}"
              {% endif %}>
              <input type="text" class="form-control mb-3" name="email" placeholder="Your Email"
              {% if request.user.email %}
                value="{{request.user.email}}"
              {% endif %}>
              <textarea type="text" class="form-control mb-3" name="complaint" placeholder="Your Complaint" rows="5"></textarea>
              <button type="submit" class="btn btn-dark">Submit</button>
            </form>
          </div>
        </div>
    </div>
  </div>
{% endblock content %}