{% extends 'base.html' %}
{% block content %}
<div class="mt-5 p-5">
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}

        <h3>Edit Profile</h3>
        <hr>
        <div class="row m-0 mb-3">
            <div class="col col-md-2">
                <img src="{{profile.profilePicture}}" id="profilePicture" width="100%" class="round rounded-circle">
            </div>
            <div class="col col-m-10">
                <label>Profile Name</label>
                <input type="text" class="form-control mb-3" id="profileName" value="{{profile.user.first_name}}" name="profileName">
                <label>Profile Picture link</label>
                <input type="text" class="form-control" id="profilePictureInput" value="{{profile.profilePicture}}" name="profilePicture">
            </div>
        </div>
        <br>
        <div class="row m-0">
            <div class="col">
                <h4>Personal Information</h4>
                <hr>
                <label>Date of Birth</label>
                <input type="date" class="form-control mb-3" id="dateOfBirth" value="{{profile.dateofBirth|date:'Y-m-d'}}" name="dateofBirth" required>
                <label>Phone</label>
                <input type="text" class="form-control mb-3" id="phone" value="{{profile.phone}}" name="phone" required>
                <label>Address</label>
                <textarea class="form-control mb-3" id="address" name="address" required>{{profile.address}}</textarea>
                <label>City</label>
                <input type="text" class="form-control mb-3" id="city" value="{{profile.city}}" name="city" required>
            </div>
            <div class="col">
                <h4>Other Information</h4>
                <hr>
                <label>Aadhar Number</label>
                <input type="text" class="form-control mb-3" id="aadhar" {% if profile.aadhar %}
                  value="{{profile.aadhar}}"
                {% endif %} name="aadhar" minlength="12" maxlength="12">
                <label>Pan Card</label>
                <input type="text" class="form-control mb-3" id="panCard" {% if profile.panCard %}
                value="{{profile.panCard}}"
              {% endif %}  name="panCard">
                <label>License No</label>
                <input type="text" class="form-control mb-3" id="license" {% if profile.license %}
                value="{{profile.license}}"
              {% endif %}  name="license">
                <label>Vehicle Type</label>
                <input type="text" class="form-control mb-3" id="vehicleType" {% if profile.vehicleType %}
                value="{{profile.vehicleType}}"
              {% endif %}  name="vehicleType">
            </div>
        </div>
        <hr>
        <button class="btn btn-warning">Update</button>
    
        </form>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    $("#profilePictureInput").keyup(function () {
        $("#profilePicture").attr('src', $("#profilePictureInput").val())
    })
</script>
{% endblock scripts %}