{% extends "base.html" %}

{% block content %}
<div class="auto-center hero-banner">
    <div class="mx-2 ml-md-5 text-dark bg-warning p-5 rounded">
        <div class="display-4 text-danger ml-md-1 font-medium">BECAUSE,</div>
        <div class="display-3 text-dark mb-n2 font-larger" style="font-size: 60px;">EVERY <strong>LIVES</strong></div>
        <div class="display-4 font-large">DESERVES TO BE <span class="text-danger">LOVED ♡</span></div>
    </div>
</div>

<div class="auto-center text-center bg-secondary justify-content-center">
    <div class="mx-2 mr-md-5 text-white  p-5 rounded">
        <div class="display-3 text-dark" style="font-size: 60px;">EVERY DOG,</div> <br>
        <div class="display-4" style="font-size: 40px;">DESERVES TO BE <span class="text-danger">LOVED ♡</span></div>
    </div>
</div>
  
{% endblock content %}
{% block scripts %}
  <script>
  </script>
{% endblock scripts %}